/* -----------------------------------------------------------------------------
   Root, light theme
----------------------------------------------------------------------------- */

:root {
	/* Palette */
	--brand: #262aff;
	--brand-accent: #4043ff;
	--primary: #e6e6e6;
	--primary-accent: #d9d9d9;
	--secondary: #ffffff;
	--secondary-accent: #f2f2f2;
	--tertiary: #191919;
	--tertiary-accent: #262626;

	/* Navbar */
	--navbar-height: 60px;
	--navbar-link-border-radius: 10px;
    --navbar-bg: var(--primary);
	--navbar-bg-hover: var(--primary-accent);
	--navbar-bg-active: var(--secondary);
    --navbar-text: var(--tertiary);
	--navbar-text-title: var(--brand);
	--navbar-text-title-hover: var(--brand-accent);
	--navbar-text-active: var(--brand);

	/* Sidebar */
	--sidebar-width: 280px;
    --sidebar-collapsed-width: 60px;
    --sidebar-header-height: 50px;
    --sidebar-bg: var(--secondary);
	--sidebar-bg-hover: var(--secondary-accent);
	--sidebar-bg-active: var(--secondary-accent);
    --sidebar-text: var(--tertiary);
	--sidebar-text-active: var(--brand);

	/* Content */
	--content-max-width: 750px;
	--content-bg: var(--secondary);
    --content-text: var(--tertiary);

	/* Transition */
    --transition-duration: 0.3s;
    --transition-easing: cubic-bezier(.4,0,.2,1);
	
	/* Border */
	--border-color: #d7dce1;

	/* HTTP Methods */
	--http-get-bg: #dee8ff;
	--http-get-text: #1d4ed8;
	--http-post-bg: #d8f0df;
	--http-post-text: #15803d;
	--http-patch-bg: #ffedde;
	--http-patch-text: #c26a0c;
	--http-delete-bg: #ffe6e6;
	--http-delete-text: #b91c1c;

	/* JSON Highlighting */
	--json-key: #0451a5;
	--json-string: #a31515;
	--json-number: #098658;
	--json-boolean: #0000ff;
	--json-null: #af00db;

	/* Success/Warning/Error Messages*/
	--success-bg: #d8f0df;
	--success-text: #15803d;
	--warning-bg: #ffedde;
	--warning-text: #c26a0c;
	--error-bg: #ffe6e6;
	--error-text: #b91c1c;

	/* Danger Button */
	--btn-danger-bg: #dc2626;
	--btn-danger-bg-hover: #f54242;
	--btn-danger-text: #ffffff;
}

/* ---------------------------------------------------------------------------
   Dark theme
--------------------------------------------------------------------------- */

[data-theme="dark"] {
	/* Palette */
	--brand: #8082ff;
	--brand-accent: #6669ff;
	--primary: #2b2b2b;
	--primary-accent: #262626;
	--secondary: #333333;
	--secondary-accent: #404040;
	--tertiary: #e6e6e6;
	--tertiary-accent: #d9d9d9;

	/* Border */
	--border-color: #838689;

	/* HTTP Methods */
	--http-get-bg: #384766;
	--http-get-text: #ccebff;
	--http-post-bg: #394d41;
	--http-post-text: #bbf7d0;
	--http-patch-bg: #735c45;
	--http-patch-text: #ffd8a6;
	--http-delete-bg: #593e3e;
	--http-delete-text: #fecaca;

	/* JSON Highlighting */
	--json-key: #9cdcfe;
	--json-string: #ce9178;
	--json-number: #b5cea8;
	--json-boolean: #569cd6;
	--json-null: #c586c0;

	/* Success/Warning/Error Messages */
	--success-bg: #394d41;
	--success-text: #bbf7d0;
	--warning-bg: #451a03;
	--warning-text: #fde68a;
	--error-bg: #593e3e;
	--error-text: #fecaca;

	/* Danger Button */
	--btn-danger-bg: #d65151;
	--btn-danger-bg-hover: #bd3535;
}